<div>
    <img src="assets/img/fondo.jpg" alt="Header Image" class="header-img">
    <div class="container">
    
        <header class="header">
            <img src="assets/img/24h.png" alt="Hora Image" class="horas">
        </header>
        <video autoplay loop muted class="background-video">
            <source src="assets/img/video.mp4" type="video/mp4">
        </video>
        <section class="info-section">
            <h2>{{ 'Trabajamos las 24 horas del día'  }}</h2>
            <p>{{ 'Servicio Urgencias 24h.'  }}</p>
            <p>{{ 'Los principales trabajos que surgen de urgencia y que cubrimos son:'  }}</p>
            <ul>
                <li>{{ 'Aire Acondicionado'  }}</li>
                <li>{{ 'Fontanería'  }}</li>
                <li>{{ 'Electricidad'  }}</li>
                <li>{{ 'etc.'  }}</li>
            </ul>
            <p>{{ 'Puedes llamarnos, enviarnos un whastapp, seguirnos en facebook o enviarnos un email. Estaremos en tu domicilio antes de 3 horas para solucionar tu problema, con tarifas económicas.'  }}</p>
            <p>{{ 'Estamos en toda Málaga a que esperas llamanos'  }}</p>
            <p>{{ 'Y si no es urgente, solicítanos tu presupuesto sin compromiso.'  }}</p>
        </section>

        <section class="contact-section">
            <h3>{{ 'LLamenos o Contáctanos'  }}</h3>
            <section class="contacta-section">
                <a (click)="recargarYnavegar('/contactos')" class="btn btn-success">
                    <i class="fab fa-whatsapp"></i> {{ 'Contactanos'  }}
                </a>
            </section>
        </section>
    </div>
</div>
