<br><br>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<header>
    <h1>Instalaciones Eléctricas</h1>
</header>
<div> <img src="assets/img/fondo.jpg" alt="Header Image" class="header-img">
    <div class="services-container">
       
        <div class="service">
            <h2>Domótica</h2>
            <img src="assets/img/domotica.jpg" alt="Domótica">
            <p>Implementamos sistemas de domótica avanzados que permiten la automatización y el control inteligente de
                las instalaciones eléctricas y electrónicas en viviendas y edificios. Realizamos el diseño, la
                instalación y el mantenimiento de sistemas de domótica (KNX) para viviendas y edificios, integrando y
                domotizando todas las funciones de la vivienda, como iluminación, persianas, electrodomésticos,
                piscinas, cámaras de seguridad, audio, vídeo, control de accesos, energía solar, entre otros.</p>
        </div>
        <div class="service">
            <h2>Control centralizado de edificios</h2>
            <img src="assets/img/edificios.jpg" alt="Control centralizado de edificios">
            <p>Nuestro enfoque se centra en la creación de un entorno inteligente y eficiente, donde los diferentes
                sistemas interactúen de manera coordinada y se optimice el consumo energético. Además, nuestra
                plataforma de control centralizado ofrece la posibilidad de generar informes detallados y análisis de
                datos, lo que permite a nuestros clientes tomar decisiones informadas y realizar ajustes continuos para
                mejorar el rendimiento y la eficiencia de sus edificios.</p>
        </div>
        <div class="service">
            <h2>Instalaciones Eléctricas de Alta Tensión</h2>
            <img src="assets/img/tensionalta.jpg" alt="Instalaciones Eléctricas de Alta Tensión">
            <p>Las instalaciones eléctricas de alta tensión son fundamentales para el suministro de energía en grandes
                escalas. En nuestra empresa, nos especializamos en el diseño, la instalación y el mantenimiento de este
                tipo de instalaciones, brindando soluciones confiables y seguras para diversos sectores industriales y
                comerciales.</p>
        </div>
        <div class="service">
            <h2>Instalaciones Eléctricas de Baja Tensión</h2>
            <img src="assets/img/bajatension.jpg" alt="Instalaciones Eléctricas de Baja Tensión">
            <p>En HomeSolution nos enorgullece ofrecerte servicios confiables y de alta calidad en el ámbito de las
                instalaciones eléctricas de baja tensión. Nuestro equipo de electricistas altamente capacitados y con
                amplia experiencia está listo para atender todas tus necesidades eléctricas, ya sea en tu hogar, oficina
                o cualquier otro espacio.</p>
        </div>
    </div>
</div>
<br>