<br><br><br>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head><header>
    <h1>Climatización</h1>
</header>
<div> <img src="assets/img/fondo.jpg" alt="Header Image" class="header-img">

    <div class="climatizacion-container">
        <div class="climatizacion-service">
            <h2>Sistemas de Ventilación y Extracción de Aire</h2>
            <img src="assets/img/ventilacion.jpeg" alt="Sistemas de Ventilación y Extracción de Aire">
            <p>Los sistemas de ventilación y extracción de aire garantizan un ambiente saludable. Son sistemas altamente
                eficientes, y garantizan la eliminación de impurezas y contaminantes en lugares como oficinas, colegios,
                garajes, peluquerías, centros sanitarios y aseos.</p>
        </div>
        <div class="climatizacion-service">
            <h2>Calderas y Radiadores</h2>
            <img src="assets/img/caldera.jpg" alt="Calderas y Radiadores">
            <p>Nuestro equipo técnico está conformado por expertos instaladores de calderas en HomeSolution. Ofrecemos
                servicios de reparación, sustitución y mantenimiento de calderas y de radiadores, garantizando siempre
                el correcto funcionamiento de su sistema de calefacción.</p>
        </div>
        <div class="climatizacion-service">
            <h2>Aerotermia</h2>
            <img src="assets/img/aerotermia.jpg" alt="Aerotermia">
            <p>La aerotermia es un sistema de energía renovable para la calefacción, refrigeración y producción de agua
                caliente sanitaria (ACS), que utiliza la energía del aire para funcionar. El funcionamiento se basa en
                un ciclo termodinámico que aprovecha el calor del aire exterior para generar calor o frío en el interior
                de un edificio.</p>
        </div>
        <div class="climatizacion-service">
            <h2>Aire Acondicionado</h2>
            <img src="assets/img/aireacondicionado.jpg" alt="Aire Acondicionado">
            <p>Trabajamos con la tecnología más actual en equipos de aire acondicionado, caracterizándose por su
                eficiencia energética, alto rendimiento y bajo nivel de ruido. Además, nuestros equipos cuentan con
                funciones adicionales como la purificación del aire, mejorando la calidad del aire interior.</p>
        </div>
        <div class="climatizacion-service">
            <h2>Instaladores de Suelo Radiante / Refrescante</h2>
            <img src="assets/img/suelo.jpg" alt="Instaladores de Suelo Radiante / Refrescante">
            <p>Somos expertos instaladores de suelo radiante / refrescante en toda Málaga. Nos encargamos del diseño y
                la planificación, dejando el suelo listo para proporcionar calor en invierno y refrescar en verano.
                Ofrecemos asesoramiento a medida para satisfacer las necesidades de nuestros clientes.</p>
        </div>
    </div>
</div>
<br>