
homesolutionBack/homesolutionBack/obj/Debug/net8.0/homesolutionBack.sourcelink.json
homesolutionBack/homesolutionBack/obj/Debug/net8.0/apphost.exe
homesolutionBack/homesolutionBack/obj/Debug/net8.0/apphost.exe
homesolutionBack/homesolutionBack/obj/Debug/net8.0/homesolutionBack.AssemblyInfoInputs.cache
homesolutionBack/homesolutionBack/obj/Debug/net8.0/homesolutionBack.dll
homesolutionBack/homesolutionBack/obj/Debug/net8.0/refint/homesolutionBack.dll
homesolutionBack/homesolutionBack/obj/Debug/net8.0/refint/homesolutionBack.dll
homesolutionBack/homesolutionBack/obj/Debug/net8.0/ref/homesolutionBack.dll
homesolutionBack/.vs/homesolutionBack/FileContentIndex/dd575af8-627f-4ca2-b39e-6c6dadf42e9d.vsidx
homesolutionBack/.vs/homesolutionBack/FileContentIndex/d51ed0c9-38e1-4b6a-b85f-bc86dc5e645d.vsidx
homesolutionBack/.vs/homesolutionBack/FileContentIndex/7df1f1b4-fb90-4c9e-98a0-ae4f6b3394a1.vsidx
homesolutionBack/.vs/homesolutionBack/FileContentIndex/4d33db3c-83cd-4d89-8ee7-ad9cc5257d4d.vsidx
homesolutionBack/.vs/homesolutionBack/FileContentIndex/023218ee-15f2-4f86-b628-4f72747269af.vsidx
homesolutionBack/.vs/homesolutionBack/FileContentIndex/66b37aa4-da9e-4aa6-a673-888ddd66d0bc.vsidx
homesolutionBack/.vs/homesolutionBack/FileContentIndex/8a144059-6b8a-4696-abf5-8ddc5ec34764.vsidx
homesolutionBack/.vs/homesolutionBack/FileContentIndex/e28b5156-55d7-4326-91bf-b98ed51d72cc.vsidx
homesolutionBack/.vs/homesolutionBack/FileContentIndex/8a28fcb4-cf02-4434-b7b9-a79723d78a35.vsidx
homesolutionBack/homesolutionBack/bin/Debug/net8.0/Scrutor.dll
homesolutionBack/homesolutionBack/bin/Debug/net8.0/Swashbuckle.AspNetCore.Filters.Abstractions.dll
homesolutionBack/homesolutionBack/bin/Debug/net8.0/Swashbuckle.AspNetCore.Filters.dll
