<br><br><br>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<header>
    <h1>Pladur</h1>

</header>
<div> <img src="assets/img/fondo.jpg" alt="Header Image" class="header-img">
    <div class="pladur-container">

        <div class="pladur-service">
            <h2>Instalaciones de Techos</h2>
            <img src="assets/img/techopladur.png" alt="Instalaciones de Techos">
            <p>Con años de experiencia en el campo, nuestro equipo está capacitado para la instalación de techos con
                precisión y atención al detalle. Este proceso se puede realizar tanto para colocar techos falsos como
                techos desmontables.</p>
        </div>
        <div class="pladur-service">
            <h2>Aislamiento Térmico</h2>
            <img src="assets/img/aislamientopladur.png" alt="Aislamiento Térmico">
            <p>Soluciones eficientes para reducir las facturas de energía en tu hogar y mejorar el confort o lugar de
                trabajo. Tenemos las mejores técnicas. Además, trabajamos con diversas técnicas para garantizar el mayor
                confort en tu vivienda u oficina. Contamos con los mejores sistemas para aislar térmicamente espacios
                grandes, medianos o pequeños.</p>
        </div>
        <div class="pladur-service">
            <h2>Proyectos de Placas Laminadas</h2>
            <img src="assets/img/placalaminada.png" alt="Proyectos de Placas Laminadas">
            <p>Las placas laminadas con pladur son una excelente opción para proyectos de construcción y renovación.
                Básicamente, se debe a que son ligeras, fáciles de instalar y ofrecen una gran variedad de acabados.
                Además, son resistentes a la humedad y al fuego, lo que las convierte en una opción segura y duradera.
            </p>
        </div>
        <div class="pladur-service">
            <h2>Insonorización</h2>
            <img src="assets/img/insonorizacion.png" alt="Insonorización">
            <p>Somos expertos en insonorización con soluciones de alta calidad. Damos un servicio único para asegurarte
                el mejor aislamiento acústico en diversos espacios. Por medio de las técnicas más especializadas y
                materiales exclusivos conseguimos insonorizar cualquier tipo de ruido en viviendas o edificios.</p>
        </div>
        <div class="pladur-service">
            <h2>Trabajos Decorativos en Málaga</h2>
            <img src="assets/img/decoracion.png" alt="Trabajos Decorativos en Málaga">
            <p>Actualmente, la decoración con pladur es tendencia. Los trabajos decorativos con pladur en Málaga
                consisten en la utilización de placas laminadas en distintos diseños. Asimismo, acabados decorativos en
                las paredes y techos de un edificio o espacio. El pladur es un material versátil, resistente y
                económico. Además, se puede moldear fácilmente en diferentes formas y tamaños.</p>
        </div>

    </div>
    <br>