<div class="container">
    <h1>Contacto</h1>
    <p>Trabajamos en toda Málaga</p>
    <p>Correo electrónico: correo@empresa.com</p>
    <p>Teléfono: 123-456-789</p>
    <p>Dirección: Calle Ejemplo, Málaga</p>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3191.343013165775!2d-4.420294184708073!3d36.72193258078762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd729c0484aa2bc7%3A0x32c9d1b56e33b92a!2sMalaga!5e0!3m2!1sen!2ses!4v1620918152178!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
   
</div>
