<div>
    <img src="assets/fondo.jpg" alt="Header Image" class="header-img">
    <div class="container">
    
        <header class="header">
            <img src="assets/24h.png" alt="Hora Image" class="horas">
        </header>
        <video autoplay loop muted class="background-video">
            <source src="assets/video.mp4" type="video/mp4">
        </video>
        <section class="info-section">
            <h2>{{ 'Trabajamos las 24 horas del día' | translate }}</h2>
            <p>{{ 'Servicio Urgencias 24h.' | translate }}</p>
            <p>{{ 'Los principales trabajos que surgen de urgencia y que cubrimos son:' | translate }}</p>
            <ul>
                <li>{{ 'Cerrajería:' | translate }}</li>
                <li>{{ 'abertura de puertas' | translate }}</li>
                <li>{{ 'Aire Acondicionado' | translate }}</li>
                <li>{{ 'Fontanería' | translate }}</li>
                <li>{{ 'Electricidad' | translate }}</li>
                <li>{{ 'etc.' | translate }}</li>
            </ul>
            <p>{{ 'Puedes llamarnos, enviarnos un whastapp, seguirnos en facebook o enviarnos un email. Estaremos en tu domicilio antes de 3 horas para solucionar tu problema, con tarifas económicas.' | translate }}</p>
            <p>{{ 'Estamos en toda Málaga a que esperas llamanos' | translate }}</p>
            <p>{{ 'Y si no es urgente, solicítanos tu presupuesto sin compromiso.' | translate }}</p>
        </section>

        <section class="contact-section">
            <h3>{{ 'LLamenos o Contáctanos' | translate }}</h3>
            <section class="contacta-section">
                <a (click)="recargarYnavegar('/contactos')" class="btn btn-success">
                    <i class="fab fa-whatsapp"></i> {{ 'Contacto' | translate }}
                </a>
            </section>
        </section>
    </div>
</div>
