.header-img {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; 
  opacity: 0.6; 
}

header {
  text-align: center;
  margin: 20px 0; 
  background-color: #444; 
  padding: 20px; 
}

header h1 {
  font-size: 3em; 
  font-family: 'Montserrat', sans-serif;
  color: white; 
}
.container {

  padding: 20px;
}

.data-block {
  background-color: white; 
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.data-block:hover {
  box-shadow: 0 0 20px rgba(0, 0, 128, 0.4); 
  transform: translateY(-5px); 
}

.offer-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: black; 
}

.offer-category {
  color: #666; 
  text-transform: capitalize;
}

.data-content {
  padding: 10px;
}

.offer-category,
.offer-title {
  color: black; 
}


/*********************************responsivee***********************************/

@media screen and (max-width: 1200px) {
  .container {
      padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .col-md-6 {
      width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .data-block {
      padding: 15px;
  }
}

@media screen and (max-width: 576px) {
  .data-block {
      padding: 10px;
  }
  .offer-title {
      font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .data-block {
      padding: 8px;
  }
  .offer-title {
      font-size: 1.1rem;
  }
}

@media screen and (max-width: 360px) {
  .data-block {
      padding: 5px;
  }
  .offer-title {
      font-size: 1rem;
  }
}