<div>
  <img src="assets/img/fondo.jpg" alt="Imagen de Encabezado" class="header-img">
  <br><br>
  <main class="login-container">
    <div class="auth-container">
      <div *ngIf="!autenticado">
        <div class="logo-container">
          <img src="assets/img/logo.jpeg" alt="Logo" class="logo">
        </div>

        <div *ngIf="iniciarSesion; else registroForm">
          <form (ngSubmit)="login()" class="form">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" [(ngModel)]="loginDto.nombre" name="nombre" required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" id="password" [(ngModel)]="loginDto.password" name="password" required>
            </div>

            <div *ngIf="ConectarSesion" class="welcome-message">{{ ConectarSesion }}</div>
            <div *ngIf="loginErrorMessage" class="error-message">{{ loginErrorMessage }}</div>
            <button type="submit" class="submit-btn">Iniciar Sesión</button>
          </form>
        </div>

        <ng-template #registroForm>
          <form (ngSubmit)="registro()" class="form">
            <div class="form-group">
              <label for="nombreRegistro">Nombre</label>
              <input type="text" id="nombreRegistro" [(ngModel)]="registroDto.nombre" name="nombre" required>
            </div>
            <div class="form-group">
              <label for="correoElectronico">Correo Electrónico</label>
              <input type="email" id="correoElectronico" [(ngModel)]="registroDto.correoElectronico" name="correoElectronico" required>
            </div>
            <div class="form-group">
              <label for="passwordRegistro">Contraseña</label>
              <input type="password" id="passwordRegistro" [(ngModel)]="registroDto.password" name="password" required>
            </div>
            <div class="form-group">
              <label for="repeatPassword">Repetir Contraseña</label>
              <input type="password" id="repeatPassword" [(ngModel)]="registroDto.repeatPassword" name="repeatPassword" required>
            </div>
            <div *ngIf="registroDto.password !== registroDto.repeatPassword && registroDto.repeatPassword !== ''" class="error-message">
              Las contraseñas no coinciden
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" id="telefono" [(ngModel)]="registroDto.telefono" name="telefono" required maxlength="9">
            </div>
            <div class="form-group">
              <label for="direccion">Dirección</label>
              <input type="text" id="direccion" [(ngModel)]="registroDto.direccion" name="direccion" required>
            </div>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            <button type="submit" class="submit-btn">Registrar</button>
            <div *ngIf="ConectarSesion" class="welcome-message">{{ ConectarSesion }}</div>
          </form>
        </ng-template>

        <div class="auth-toggle">
          <button (click)="alternarFormulario()" class="toggle-btn">
            {{ iniciarSesion ? 'No tienes cuenta? Regístrate' : 'Iniciar Sesión' }}
          </button>
        </div>
      </div>
    </div>
    <div class="auth-container" *ngIf="autenticado">
      <div class="welcome-message">Bienvenido, {{ nombre }}</div>
      <div class="user-info">
        <p><strong>Nombre:</strong> {{ nombre }}</p>
        <p><strong>Correo Electrónico:</strong> {{ userId }}</p>
        <p><strong>Dirección:</strong> {{ registroDto.direccion }}</p>
        <p><strong>Teléfono:</strong> {{ registroDto.telefono }}</p>
      </div>
      <div class="user-offer">
        <h3>Oferta del Usuario</h3>
        <p></p>
      </div>
      <br><br><br><br>
      <button (click)="cerrarSesion()" class="logout-btn">Cerrar Sesión</button>
    </div>
  </main>
</div>

 