<body>
  <div class="login-container">
    <img src="assets/fondo.jpg" alt="Header Image" class="header-img">
    <div class="auth-container">
      <div class="logo-container">
        <img src="assets/logo.jpeg" alt="Logo" class="logo">
      </div>

      <div *ngIf="iniciarSesion; else registroForm">
        <form (ngSubmit)="login()" class="form">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="loginDto.nombre" name="nombre" required>
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" [(ngModel)]="loginDto.password" name="password" required>
          </div>
          <div *ngIf="ConectarSesion" class="welcome-message">{{ ConectarSesion }}</div>
          <button type="submit" class="submit-btn">Iniciar Sesión</button>
        </form>
      </div>

      <ng-template #registroForm>
        <form (ngSubmit)="registro()" class="form">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="registroDto.nombre" name="nombre" required>
          </div>
          <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="email" [(ngModel)]="registroDto.correoElectronico" name="correoElectronico" required>
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" [(ngModel)]="registroDto.password" name="password" required>
          </div>
          <div class="form-group">
            <label>Repetir Contraseña</label>
            <input type="password" [(ngModel)]="registroDto.repeatPassword" name="repeatPassword" required>
          </div>
          <div *ngIf="registroDto.password !== registroDto.repeatPassword && registroDto.repeatPassword !== ''" class="error-message">Las contraseñas no coinciden</div>
          <div class="form-group">
            <label>Teléfono</label>
            <input type="text" [(ngModel)]="registroDto.telefono" name="telefono" required>
          </div>
          <div class="form-group">
            <label>Dirección</label>
            <input type="text" [(ngModel)]="registroDto.direccion" name="direccion" required>
          </div>
          <button type="submit" class="submit-btn">Registrar</button>
        </form>
      </ng-template>

      <div class="auth-toggle">
        <button (click)="alternarFormulario()" class="toggle-btn">
          {{ iniciarSesion ? 'No tienes cuenta? Regístrate' : 'Iniciar Sesión' }}
        </button>
      </div>
    </div>

    <div class="auth-container">
      <div *ngIf="autenticado">
        <div *ngIf="CerrarSesion" class="welcome-message">{{ CerrarSesion }}</div>
        <button (click)="cerrarSesion()" class="logout-btn">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</body>