<br><br><br>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<header>
    <h1>Fontaneria</h1>
</header>
<div> <img src="assets/img/fondo.jpg" alt="Header Image" class="header-img">

    <div class="fontaneria-container">
        <div class="fontaneria-service">
            <h2>Instalación Equipo Ósmosis Inversa</h2>
            <img src="assets/img/osmosis.jpg" alt="Instalación Equipo Ósmosis Inversa">
            <p>Servicio en el que acude un fontanero especializado en sistemas de ósmosis para realizar la instalación
                de un equipo de ósmosis inversa estándar, compacta o directa. El profesional instalará el grifo de
                servicio al lado del fregadero, colocará el adaptador en el flexo y conectará todos los tubos de entrada
                y salida al sistema de ósmosis dejándolo todo en perfecto funcionamiento.</p>
        </div>
        <div class="fontaneria-service">
            <h2>Nueva Instalación de Fontanería</h2>
            <img src="assets/img/nuevainstalacion.jpg" alt="Nueva Instalación de Fontanería">
            <p>Servicio en el que acude un profesional especializado para diseñar una nueva instalación de fontanería en
                una o varias estancias del inmueble, realizando el recorrido de las nuevas tuberías, codos, desagües,
                etc., según las necesidades del cliente.</p>
        </div>
        <div class="fontaneria-service">
            <h2>Reforma en la Instalación de Fontanería</h2>
            <img src="assets/img/reparacion.jpg" alt="Reforma en la Instalación de Fontanería">
            <p>Servicio en el que acude un profesional especializado para realizar una reforma de fontanería reparando
                tuberías que estén en mal estado, o que tengan problemas de falta de presión o cal, sustituyendo llaves
                de paso, contadores de agua, etc., según las necesidades del cliente.</p>
        </div>
        <div class="fontaneria-service">
            <h2>Reparar o Desatascar Tuberías y Bajantes</h2>
            <img src="assets/img/desatascar.jpg" alt="Reparar o Desatascar Tuberías y Bajantes">
            <p>Servicio en el que acude un profesional especializado para reparar, desatascar o cambiar bajantes y
                desagües tanto fecales como fluviales, sustituir botes sifónicos o solucionar los malos olores.</p>
        </div>
    </div>
</div>
<br>