<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container-fluid">
 
  <img src="assets/fondo.jpg" alt="Header Image" class="header-img">
  <div class="container">
    <img src="assets/logo.jpeg" alt="logo" class="logo">
    <header>

      <h1 class="text-center mt-5 animacion-letras">HOMESOLUTION</h1>
    </header>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="custom-box">
            <strong>{{ 'descripcion1' | translate }}</strong><br>
            {{ 'descripcion1Texto' | translate }}
          </div>
        </div>

        <div class="col">
          <div class="custom-box">
            <strong>{{ 'descripcion2' | translate }}</strong><br>
            {{ 'descripcion2Texto' | translate }}
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <div class="custom-box">
            <strong>{{ 'descripcion3' | translate }}</strong><br>
            {{ 'descripcion3Texto' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>