<div>
<img src="assets/fondo.jpg" alt="Header Image" class="header-img">
<div class="service-container">

    <div class="service">
        <img src="assets/aire.png" alt="Servicio de Aire Acondicionado">
        <div class="service-text">
            <h3>Servicio de Aire Acondicionado</h3>
            <p>Somos técnicos autorizados RITE, para la instalación y reparación de Aire Acondicionado y Calderas y Calentadores a gas. También termos eléctricos.</p>
            <p>Realizamos las instalaciones y retiramos el antiguo equipo al punto limpio. Además, contamos con ofertas especiales en los equipos de aire acondicionado, así como en termos eléctricos y estancos.</p>
        </div>
    </div>

    <div class="service">
        <img src="assets/fontaneria.jpg" alt="Servicio de Fontanería">
        <div class="service-text">
            <h3>Servicio de Fontanería</h3>
            <p>Trabajos de fontanero. Pérdidas de agua, cambios de grifos, cisternas, etc.</p>
            <p>Desatoros en WC – Lavabos, etc.</p>
        </div>
    </div>

    
    <div class="service">
        <img src="assets/electricidad.jpg" alt="Servicio de Electricidad">
        <div class="service-text">
            <h3>Servicio de Electricidad</h3>
            <p>Cambios de enchufes, instalaciones eléctricas, etc.</p>
            <p>Certificado de conformidad con el Esquema de Certificación en Industria y Energía, acreditado por ENAC con número de acreditación 12/C-PE022 para instalador Certificado en Instalaciones de Baja Tensión, categoría Básica (CIBTB).</p>
        </div>
    </div>

  
    <div class="service">
        <img src="assets/cerrajeria.jpeg" alt="Servicio de Cerrajería">
        <div class="service-text">
            <h3>Servicio de Cerrajería</h3>
            <p>Trabajos de Cerrajería: Cambio de bombines, Apertura de Puertas, etc.</p>
        </div>
    </div>

    <div class="service">
        <img src="assets/pladu.jpg" alt="Servicio de Pladur y Construcción en Seco">
        <div class="service-text">
            <h3>Pladur y Construcción en Seco</h3>
            <p>La construcción en seco con placas de yeso, ofrece soluciones muy diversas, tanto a nivel comercial como particular.</p>
            <ul>
                <li>Tabiques de pladur</li>
                <li>División de espacios</li>
                <li>Insonorización</li>
                <li>Falsos techos</li>
                <li>Techos desmontables</li>
                <li>Suelos flotantes</li>
                <li>Alicatados</li>
            </ul>
            <p>Podemos dividir habitaciones y espacios, de forma rápida y sencilla, o realizar muebles, estanterías, etc.</p>
            <p>Se puede insonorizar desde una habitación y techos, hasta locales comerciales como discotecas, dónde el nivel de ruido es muy alto.</p>
        </div>
    </div>
</div>


</div>