.header-img {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; 
  width: 100%;
  opacity: 0.6; 
}

.container {
  padding: 50px 0;
}

.data-block {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  z-index: 0;
  background-color: white;
  width: 50%;
}

.data-block:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.data-content {
 
  transition: opacity 0.3s ease;
}

.data-block:hover .data-content {
  opacity: 1;
}
